:root {
    --body-background-color: #F5F6F7;
    --font-family: ;
}

html {
    scroll-padding-top: 70px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background-color);
    /* Color gris claro */
    overflow-x: hidden;
    /* Esto evita las barras de scroll horizontales */
}

a {
    text-decoration: none;
    color: inherit;
    /* Hereda el color del elemento padre */

}