:root {
    --nav-background: #f8f8f8;
    /* Color gris muy claro */
    --nav-hover: rgba(0, 0, 0, 0.05);
    --nav-text: #5a5a5a;
    --nav-text-hover: black;
}

.navbar {
    background-color: var(--nav-background);
}

/* LOGO */
.navbar-brand {
    padding: 5px 10px;
    font-weight: bold;
}

/* ENLACES DEL MENÚ */
.nav-link {
    font-weight: 500;
    color: var(--nav-text);
    cursor: pointer;
}

/* ENLACES DEL MENÚ AL PASAR EL RATÓN */
.nav-link:hover {
    color: var(--nav-text-hover) !important;
    background-color: var(--nav-hover) !important;
    border-radius: 5px;
}

/* ICONOS */
.nav-link-icon {
    font-size: 26px;
    color: var(--nav-text);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-link-icon:hover {
    color: var(--nav-text-hover) !important;
    background-color: var(--nav-hover) !important;
    border-radius: 5px;
}