.newsletter-banner {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
}

.newsletter-banner input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #1a1a1a;
    padding: 10px 12px;
    margin-bottom: 20px;
    min-height: 60px;
    max-width: 50%;
}

.newsletter-banner button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #ffffff;
    margin-bottom: 20px;
    min-height: 60px;
}

.newsletter-banner button:hover {
    border: 1px solid rgba(29, 29, 29, 0.2);
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 12px;
    margin-bottom: 20px;

}

/* Para tablets */
@media (max-width: 768px) {
    .newsletter-banner .container {
        flex-direction: column;
        gap: 1rem;
    }

    .newsletter-banner .col-lg-6 {
        width: 100%;
    }

    .newsletter-banner .input {
        max-width: 100%;
    }
}

/* Para móviles */
@media (max-width: 576px) {
    .newsletter-banner .container {
        flex-direction: column;
        gap: 1rem;
    }

    .newsletter-banner .col-lg-6 {
        width: 100%;
    }

    .newsletter-banner .input {
        max-width: 100%;
    }
}