/* ZONA SUPERIOR */
.product-image {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fdfdfd;
    overflow: hidden;
}

.product-image .icon-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    max-height: 160px;
    /* Menos que el contenedor para dejar espacio al padding */
    max-width: 90%;
    object-fit: contain;
    /* Para que la imagen se adapte al contenedor */
    transition: transform 0.3s ease;
}

/* ZONA INFERIOR */
.card-body {
    background-color: #e7f1ff;
}

.product-title {
    display: -webkit-box;
    /* Limita el texto a 2 líneas */
    -webkit-line-clamp: 2;
    /* Indica que el texto se mostrará en 2 líneas */
    -webkit-box-orient: vertical;
    /* Para que el texto se muestre en 2 líneas */
    overflow: hidden;
    /* Para que el texto se muestre en 2 líneas */
    text-overflow: ellipsis;
    /* Para que el texto se muestre en 2 líneas */
    min-height: 2.5em;
    /* Forzamos una altura uniforme */
}

.product-description {
    display: -webkit-box;
    /* Limita el texto a 3 líneas */
    -webkit-line-clamp: 3;
    /* Indica que el texto se mostrará en 3 líneas */
    -webkit-box-orient: vertical;
    /* Para que el texto se muestre en 3 líneas */
    overflow: hidden;
    /* Para que el texto se muestre en 3 líneas */
    text-overflow: ellipsis;
    /* Para que el texto se muestre en 3 líneas */
    min-height: 3em;

}

/* EFECTOS PARA TODA LA TARJETA*/
.product-card {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    background: #fdfdfd;
    border: 1px solid #000000;
}

/* Al pasar el ratón por encima de la tarjeta, se eleva 5px y se le añade una sombra */
.product-card:hover {
    transform: translateY(-5px);
    /* 0 para arriba, 10px a la derecha, 20px de desenfoque y rgba para el color*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.product-card:hover .product-image img {
    transform: scale(1.08);
    /* Efeoto zoom suave al pasar el ratón */
}

/* El badge se posiciona sobre la imagen */
.badge {
    z-index: 10;
}